{% extends 'base.html' %}

{% block content %}

<h1>Convertidor Longitudes</h1>
<p>Ingresa valor en Kilometros ..</p>
<form action="/longitudes" method="POST">

    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" name="n1" placeholder="Ingresa el valor a convertir" aria-label="Ingresa el valor a convertir" required>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger">Calcular</button>
        </div>
    </div>
</form>

<div class="row py-2">
    <div class="col">
        <h3>En centimetros: {{ total_centimetros }}</h3>
        <h3>En Decimetros: {{ total_decimetros }}</h3>
        <h3>En metros: {{ total_metros }}</h3>
        <h3>En Decametros: {{ total_decametros }}</h3>
        <h3>En Hectometros: {{ total_hectometros }}</h3>
        
    </div>
</div>

{% endblock %}